.container{
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

.primario{
  color: $colorPrimario;
  font-size: $fontXL;
}

.secundario{
  color: $colorSecundario;
  font-size: $fontM;
}

.terciario{
  color: $colorTerciario;
  font-size: $fontL;
}

.box{
  border: 2px solid $colorPrimario;
  padding: $fontM;
  width: $fontXL + $fontL + 500px;
  background-color: rgba($colorSecundario, .6);
}