@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
  font-family: 'Lato', sans-serif;
}
.titulo{
  border-bottom: 2px solid #FF0000;
  span{
    display: inline-block;
    padding: 5px;
    a{
      color: #FF0000;
    }
  }
  @media (min-width:768px){
    border-color: blue;
  }
  @media (min-width:1024px){
    border-color: green;
  }
}

// Variables
$fontXL : 70px;
$fontL : 50px;
$fontM : 30px;

$white : #FFF;
$black : #000;
$colorPrimario : #c29ffa;
$colorSecundario : #6ea8fe;
$colorTerciario : green;

@import 'elements/botones';
@import 'elements/cartas';
@import 'globales/estilos';
@import 'globales/medios';
@import 'globales/cover';