.logo{
  animation: showDown 1s;
}

li{
  animation: showDown 1s;
}

@keyframes showDown {
  0%{
    transform: translateY(-100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}