
.db-btn{
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: top left;
  transition: .2s;
  position: relative;
  overflow: hidden;
  &:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: -40px;
    background-color: rgba($yellow, .6);
    transform: skew(-40deg);
    transition: .2s;
  }
  &:hover{
    background-size: 120px;
    background-position-y: -30px;
    transform: rotate(-1deg);
    &:after{
      width: 40%;
      right: -20px;
    }
  }

  &.btn-primary{
    background-color: $red;
    border-color: $orange;
  }
}